Diagnostics:
  # Suppress warnings inside Nuklear's own headers (they are not your code)
  Suppress:
    - pp_including_mainfile_in_preamble

  ClangTidy:
    Add:
      - clang-analyzer-*
    Remove:
      # Nuklear uses a lot of C-style casts and old-school patterns
      - readability-identifier-length
      - hicpp-signed-bitwise
      - cert-str34-c
